@import '~node_modules/modern-normalize/modern-normalize.css';
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-color: $generalBackColor;
  color: $textLightColor;
  text-align: center;
  box-sizing: border-box;
}
.not-scroll {
  overflow: hidden;
}
svg {
  pointer-events: none;
}

button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  font-size: 0rem;
  position: relative;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
img {
  display: block;
}
