@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-color: $generalBackColor;
  color: $textLightColor;
  text-align: center;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  font-size: 0;
  position: relative;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
