@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-color: $generalBackColor;
  color: $textLightColor;
  text-align: center;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}
