$montserrat: 'Montserrat', sans-serif;
$seymour: 'Seymour One', sans-serif;
$dm: 'DM Sans', sans-serif;
$modalMenuColor: #84a178;
$generalBackColor: #84a178;
$secondBackground: #fcfcfc;
$secondBackColor: #fcfcfc;
$textLightColor: #fcfcfc;
$textDarkColor: #131313;
$textHoverColor: #000000;
$textFocusColor: #ffffff;
$textAdresColor: #d6936d;
$textTimeColor: #907e82;
$buttonHoverColor: #0a8817;
$buttonDisabledColor: #ababab;
$buttonDefaultColor: #f8d24e;
$svgDefault: #ababab;
$svgHover: #fcfcfc;
