<div class="backdrop buy-now-modal">
  <div class="modal">
    <button class="modal-button" type="button">
      <svg width="13" height="13" fill="#131313;" class="button-menu">
        <use xlink:href="./svg/sprits.svg#closeMenu" class="close"></use>
      </svg>
    </button>
    <h5>Buy now</h5>
    <div class="ice-choice">
      <div class="info-modal buy-cream">
        <img src="./images/ice_cream.png" alt="cream" width="132" class="img-choice">
        <h3>ICE CREAM</h3>
      </div>
      <div class="ice-coffee info-modal buy-coffee">
        <img src="./images/ice_coffee.png" alt="cream" width="132" class="img-choice">
        <h3>ICE COFFEE</h3>
      </div>
      <div class="info-modal buy-milkshake">
        <img src="./images/milkshakes.png" alt="cream" width="132" class="img-choice">
        <h3>MILKSHAKES</h3>
      </div>
    </div>
    <form action="#">
      <input type="text" name="buy" placeholder="Name">
      <input type="text" name="buy" placeholder="Phone">
      <textarea name="buy" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>