<footer>
  <section class="adreses">
    <div class="container">
      <ul class="adres">
        <li>
          <h4>CAFE</h4>
          <div class="establishment">
            <p class="name-establishment">Chicago</p>
            <p class="location-establishment">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
        <li>
          <h4>FOOD TRUCK</h4>
          <div class="establishment">
            <p class="name-establishment">Los Angeles</p>
            <p class="location-establishment">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">
              Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
        <li>
          <h4>CAFE</h4>
          <div class="establishment">
            <p class="name-establishment">New York</p>
            <p class="location-establishment">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
      </ul>
      <div class="buttons-info">
        <button type="button" class="button-location">
          Our Locations
          <svg width=" 6" height="10">
            <use xlink:href="svg/sprits.svg#go"></use>
          </svg>
        </button>
        <button type="button" class="button-franchise">
          Franchise
          <svg width=" 6" height="10">
            <use xlink:href="svg/sprits.svg#go"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section class="contacts">
    <div class="container">
      <div class="brand">
        <p class="the-made">homemade ice cream made</p>
        <p class="the-passion">with passion</p>
      </div>
      <div class="contact">
        <ul class="social">
          <li class="social-list">
            <a href="#">
              <svg width="20" height="20">
                <use xlink:href="./svg/sprits.svg#githab"></use>
              </svg>
            </a>
          </li>
          <li class="social-list">
            <a href="#">
              <svg width="21" height="16">
                <use xlink:href="./svg/sprits.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list">
            <a href="#">
              <svg width="10" height="21"">
                <use xlink:href=" ./svg/sprits.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="tel">
          <span>
            Feel free to contact
          </span>
          +61 (0) 383 766 284
        </p>
      </div>
    </div>
  </section>
  <section class="ps">
    <p>&#169; 2022 - IceCream. <br> All Rights Reserved.</p>
  </section>
</footer>