<footer>
  <section class="adreses">
    <ul class="adres">
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="buttons-info">
      <button type="button" class="button-location"></button>
      <button type="button" class="button-franchise"></button>
    </div>
  </section>
  <section class="contact">
    <div class="brand">
      <p class="the-made">homemade ice cream made</p>
      <p class="the-passion">with passion</p>
    </div>
    <div class="contact">
      <ul class="social">
        <li class="social-list">
          <a href="#">
            <svg>
              <use xlinck:href="./svg/sprits.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list">
          <a href="#">
            <svg>
              <use xlinck:href="./svg/sprits.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-list">
          <a href="#">
            <svg>
              <use xlinck:href="./svg/sprits.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="tel">
        Feel free to contact
        <span>
          +61 (0) 383 766 284
        </span>
      </p>
    </div>
  </section>
</footer>