<footer>
  <section class="adreses">
    <h2 class="hidden">welcome</h2>
    <div class="container">
      <ul class="adres">
        <li>
          <h4 class="name-establishment">CAFE</h4>
          <div class="establishment">
            <p class="name-town">Chicago</p>
            <p class="location-establishment">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
        <li>
          <h4 class="name-establishment">FOOD TRUCK</h4>
          <div class="establishment">
            <p class="name-town">Los Angeles</p>
            <p class="location-establishment">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">
              Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
        <li>
          <h4 class="name-establishment">CAFE</h4>
          <div class="establishment">
            <p class="name-town">New York</p>
            <p class="location-establishment">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          </div>
          <div class="establishment">
            <p class="time-work">
              Monday - Friday <br>
              <span>06:00 AM - 10:00 PM</span>
            </p>
            <p class="time-work">Saturday - Sunday <br>
              <span>08:00 AM - 16:00 PM</span>
            </p>
          </div>
          <div class="establishment">
            <p class="contact-establishment">
              +61(0) 383 766 284 <br>
              noreply@envato.com
            </p>
          </div>
        </li>
      </ul>
      <div class="buttons-info">
        <button type="button" class="button-location" data-atribut="locations">
          Our Locations
          <svg width=" 6" height="10" class="go">
            <use xlink:href="svg/sprits.svg#go"></use>
          </svg>
        </button>
        <button type="button" class="button-franchise" data-atribut="franchise">
          Franchise
          <svg width=" 6" height="10" class="go">
            <use xlink:href="svg/sprits.svg#go"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section class="contacts" id="contact">
    <h2 class="hidden">our contacts</h2>
    <div class="container">
      <div class="contact-social">
        <div class="brand">
          <p class="the-made">homemade ice cream made</p>
          <p class="the-passion">with passion</p>
        </div>
        <div class="contact">
          <ul class="social">
            <li class="social-list">
              <a href="https://github.com/evgeniy210191">
                <svg width="20" height="20">
                  <use xlink:href="./svg/sprits.svg#githab"></use>
                </svg>
              </a>
            </li>
            <li class="social-list">
              <a href="https://t.me/Jeka2191">
                <svg width="21" height="16">
                  <use xlink:href="./svg/sprits.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list">
              <a href="https://www.linkedin.com/in/evgeniy-sulim-662853235/">
                <svg width="20" height="20">
                  <use xlink:href=" ./svg/sprits.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <p class="tel">
            <span>
              Feel free to contact
            </span>
            +61 (0) 383 766 284
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="ps">
    <h2 class="hidden">Rights</h2>
    <p>&#169; 2022 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </section>
</footer>