<header>
  <div class="container">
    <div class="nav">
      <a href="#" class="logo">
        <svg width="40" height="37">
          <use xlink:href="svg/sprits.svg#Logo"></use>
        </svg>
      </a>
      <nav>
        <button class="modal-menu" type="button">
          <svg width="32" height="32" fill="#FCFCFC" class="button-menu">
            <use xlink:href="svg/sprits.svg#openMenu" class="open"></use>
            <use xlink:href="svg/sprits.svg#closeMenu" class="close"></use>
          </svg>
        </button>
        <div class="mobile-menu">
          <ul class="list-menu">
            <li><a href="">Home</a></li>
            <li><a href="">How it's made?</a></li>
            <li><a href="">Our products</a></li>
            <li><a href="">Contact</a></li>
          </ul>
          <button class="buy"">
            <span>Buy now</span>
              <svg width=" 6" height="10">
            <use xlink:href="svg/sprits.svg#go"></use>
            </svg>
          </button>
        </div>
        <ul class="desktop-menu">
          <li><a href="">Home</a></li>
          <li><a href="">How it's made?</a></li>
          <li><a href="">Our products</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <button class="buy-table" type="button">
          <span>Buy now</span>
          <svg width=" 6" height="10">
            <use xlink:href="svg/sprits.svg#go"></use>
          </svg>
        </button>
      </nav>
    </div>
    <div class="base">
      <div class="head">
        <h1>
          <span>ice cram</span><br>
          <span>made with</span><br>
          <span class="lower">passion</span>
        </h1>
        <div class="buttons">
          <button class="product" type="button">Product</button>
          <button class="how-made" type="button">How it's made?</button>
        </div>
        <div class="treat-yourself">
          <img src="./images/creameHeader.png" alt="creams" class="creams-header">
          <div class="text-call">
            <p>Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable
              experience!
            </p>
            <button class="arrow" type="button">
              <svg width="40" height="8" fill="#FCFCFC" class="arrow-header">
                <use xlink:href="./svg/sprits.svg#arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="quantity">
        <div>16<p>cafes</p>
        </div>
        <div>23<p>food frucks</p>
        </div>
      </div>
    </div>
    <picture class="cream">
      <source srcset="./images/desktop-cream.png" media="(min-width:1200px)" type="image/jpeg" />
      <source srcset="./images/tablet-cream.png" media="(min-width:768px)" type="image/jpeg" />
      <source srcset="./images/mobile-cream.png" media="(max-width:767px)" type="image/jpeg" />
      <img src="./images/mobile-cream.png" alt="team member" />
    </picture>
    <picture class="dot">
      <source srcset="./images/desktop-dots.png" media="(min-width:1200px)" type="image/jpeg" />
      <source srcset="./images/tablet-dots.png" media="(min-width:768px)" type="image/jpeg" />
      <source srcset="./images/mobile-dots.png" media="(max-width:767px)" type="image/jpeg" />
      <img src="./images/mobile-dots.png" alt="team member" />
    </picture>
  </div>
</header>