<div class="backdrop how-made">
  <div class="modal">
    <button class="modal-button" type="button" data-atribut="close">
      <svg width="13" height="13" fill="#131313;" class="button-menu">
        <use xlink:href="./svg/sprits.svg#closeMenu" class="close"></use>
      </svg>
    </button>
    <h5>How it’s made?</h5>
    <iframe src="https://www.youtube.com/embed/REaxkJ74s90"
      title="Домашнее МОРОЖЕНОЕ за 5 МИНУТ!!! ВКУС как в ДЕТСТВЕ. Клубничное и Шоколадное мороженое дома!"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
      ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
  </div>
</div>