<div class="backdrop js-about-product">
  <div class="modal">
    <button class="modal-button" type="button" data-atribut="close">
      <svg width="13" height="13" fill="#131313;" class="button-menu">
        <use xlink:href="./svg/sprits.svg#closeMenu" class="close"></use>
      </svg>
    </button>
    <h5>Chololate icecream</h5>
    <img src="./images/ice.png" alt="ice" class="chocolate-icecream">
    <div class="calories">
      <div class="calories-ice">
        <p>320</p>
        <span>kcal</span>
      </div>
      <div class="calories-ice">
        <p>4g</p>
        <span>Protein...</span>
      </div>
      <div class="calories-ice">
        <p>8.2g</p>
        <span>Fats</span>
      </div>
      <div class="calories-ice">
        <p>40.4g</p>
        <span>Carbs</span>
      </div>
    </div>
    <h6>Ingredients</h6>
    <div class="recipe-ice">
      <p class="ingredient-modal"><span>Milk</span><span>100ml</span></p>
      <p class="ingredient-modal"><span>Belgian chocolate</span><span>20g</span></p>
      <p class="ingredient-modal"><span>Cream</span><span>150 ml</span></p>
      <p class="ingredient-modal"><span>Cocoa powder</span><span>30g</span></p>
      <p class="ingredient-modal"><span>Sugar</span><span>40g</span></p>
      <p class="ingredient-modal"><span>Vanilla sugar</span><span>10g</span></p>
    </div>
    <form action="#">
      <input type="text" name="ingredient" placeholder="Name">
      <input type="text" name="ingredient" placeholder="Phone">
      <textarea name="ingredient" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>