<main>
  <section class="about-product">
    <div class="container products">
      <h2>
        <span>100% NATURAL</span><br>
        PRODUCTS
      </h2>
      <div class="ice-choice">
        <div class="info ice-cream">
          <img src="./images/ice_cream.png" alt="cream" width="200" class="img-choice">
          <div class="menu">
            <h3>ICE CREAM</h3>
            <p>Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
          </div>
          <button type="button">
            <svg width="40" height="8" fill="#131313">
              <use xlink:href="./svg/sprits.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="info ice-coffee">
          <img src="./images/ice_coffee.png" alt="cream" width="200" class="img-choice">
          <div class="menu">
            <h3>ICE COFFEE</h3>
            <p>Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and
              flavor enhancers</p>
          </div>
          <button type="button">
            <svg width="40" height="8" fill="#131313">
              <use xlink:href="./svg/sprits.svg#arrow"></use>
            </svg>
          </button>
        </div>
        <div class="info milkshakes">
          <img src="./images/milkshakes.png" alt="cream" width="200" class="img-choice">
          <div class="menu">
            <h3>MILKSHAKES</h3>
            <p>Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of
              your choice</p>
          </div>
          <button type="button">
            <svg width="40" height="8" fill="#131313">
              <use xlink:href="./svg/sprits.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="how-make">
    <div class="container">
      <h2>
        <span class="under">TRADITION AND LOVE</span><br>
        HOW IT'S MADE?
      </h2>
      <div class="recipes">
        <img src="./images/cow.png" alt="cow">
        <div class="recip">
          <p>Ice is a place where you will become not only a little happier, but also healthier. Health is the main
            value for us, and we follow it when creating our handmade desserts.</p>
          <p>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given
            to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee
            and 23 milkshakes.</p>
          <p>This is enough to choose ice cream and coffee for any mood!</p>
          <button type="button">Read more
            <svg width=" 6" height="10">
              <use xlink:href="svg/sprits.svg#go"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="ingredients">
        <div class="ingredient">
          <p class="ingredients-svg">
            <svg width="36" height="36">
              <use xlink:href="./svg/sprits.svg#oxen"></use>
            </svg>
          </p>
          <span class="weight">721</span>
          <p class="ingredients-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="ingredient">
          <p class="ingredients-svg">
            <svg width="28" height="35">
              <use xlink:href="./svg/sprits.svg#weight"></use>
            </svg>
          </p>
          <span class="weight">16kg</span>
          <p class="ingredients-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
        <div class="ingredient">
          <p class="ingredients-svg">
            <svg width="17" height="36">
              <use xlink:href="./svg/sprits.svg#ice"></use>
            </svg>
          </p>
          <span class="weight">84</span>
          <p class="ingredients-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <div class="review">
        <ul class="reviews-container">
          <li class="review-slide">
            <img src="./images/ices.png" alt="ices" class="bord-review">
            <img src="./images/girl.jpg" alt="visitor" width="85" class="img-visitors">
            <p class="review-text">I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles!
              In
              addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            <p class="name-visitors">Emily, Los Angeles</p>
          </li>
          <li class="review-slide">
            <img src="./images/cooc.png" alt="cooc" class="bord-review">
            <img src="./images/man.png" alt="visitor" width="85" class="img-visitors">
            <p class="review-text">Every day we come to you with friends after classes in college. We love your ice
              cream and casual atmosphere!</p>
            <p class="name-visitors">Bryan, New-York</p>
          </li>
          <li class="review-slide">
            <img src="./images/unsplash.png" alt="ices" class="bord-review">
            <img src="./images/girl-drink.jpg" alt="visitor" width="85" class="img-visitors">
            <p class="review-text">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like
              the excellent service - always
              served politely and quickly!</p>
            <p class="name-visitors">Diana, Chicago</p>
          </li>
        </ul>
        <ul class="slid">
          <li><a href="#" class="active"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
    </div>
  </section>
</main>