<div class="backdrop locations">
  <div class="modal">
    <button class="modal-button" type="button" data-atribut="close">
      <svg width="13" height="13" fill="#131313;" class="button-menu">
        <use xlink:href="./svg/sprits.svg#closeMenu" class="close"></use>
      </svg>
    </button>
    <h5>Our locations</h5>
    <div class="map">
      <img src="./images/map.png" alt="">
    </div>
    <a class="change link-map" href="https://goo.gl/maps/dzDUcEt9SsPUq6Az9" id="contacts" target="_blank"
      rel="noopener noreferrer">
      Open map
    </a>
  </div>
</div>