<div class="backdrop franchise">
  <div class="modal">
    <button class="modal-button" type="button" data-atribut="close">
      <svg width="13" height="13" fill="#131313;" class="button-menu">
        <use xlink:href="./svg/sprits.svg#closeMenu" class="close"></use>
      </svg>
    </button>
    <h5>Thank you for your interest in owning an Ice Cream shop</h5>
    <p>Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this
      time. Once the application process resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional information. We appreciate your patience.</p>
    <form action="#">
      <input type="text" name="thanks" placeholder="Name">
      <input type="tel" name="thanks" placeholder="Phone">
      <input type="email" name="thanks" placeholder="Email">
      <textarea name="thanks" placeholder="Comment"></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>