@import '~node_modules/modern-normalize/modern-normalize.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-color: #84a178;
  color: #fcfcfc;
  text-align: center;
  box-sizing: border-box;
}

.not-scroll {
  overflow: hidden;
}

svg {
  pointer-events: none;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  font-size: 0rem;
  position: relative;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
}

header {
  text-align: left;
}
header .header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  header .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
header nav,
header .nav {
  display: flex;
  justify-content: space-between;
}
header .logo {
  z-index: 3;
}
header .buy-table {
  font-size: 14px;
  width: 152px;
  padding: 12px 0;
  margin: 0 0 8px 36px;
  font-weight: 600;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: #131313;
  display: none;
}
header .buy-table:hover {
  background: #0a8817;
}
header .buy-table:focus {
  background: #0a8817;
  color: #fcfcfc;
}
header .buy-table:focus svg {
  fill: #fcfcfc;
}
header .buy-table svg {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  header .buy-table {
    display: block;
  }
}
header .mobile-menu {
  display: none;
}
header .mobile-menu.is-open {
  display: flex;
  text-align: center;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 100px;
  padding-bottom: 76px;
  width: 100%;
  height: 100%;
  background: #84a178;
}
header .close {
  display: none;
}
header .open {
  display: block;
}

.list-menu li:not(:last-child) {
  padding-bottom: 32px;
}
.list-menu a {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #fcfcfc;
}
.list-menu a:hover {
  color: #000000;
}

.desktop-menu {
  display: none;
  margin-right: 205px;
}
@media screen and (min-width: 1200px) {
  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-menu li:not(:last-child) {
    margin-right: 28px;
  }
  .desktop-menu a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #fcfcfc;
  }
  .desktop-menu a:hover, .desktop-menu a:focus {
    color: #d6936d;
  }
}

.modal-menu {
  z-index: 3;
  background: transparent;
  border: none;
  display: block;
}
@media screen and (min-width: 1200px) {
  .modal-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .modal-menu.is-open {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.modal-menu.is-open .close {
  display: block;
}
.modal-menu.is-open .open {
  display: none;
}

.buy {
  padding: 12px 0;
  width: 152px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 600;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: #131313;
}
.buy:active {
  background: #0a8817;
}
@media screen and (min-width: 768px) {
  .buy {
    display: none;
  }
}
.buy svg {
  margin-left: 8px;
}

.base {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .quantity {
    display: none;
  }
}
.quantity div {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 20px;
  text-align: right;
}
.quantity p {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #fcfcfc;
}

h1 {
  font-family: "Seymour One", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 32px;
}
h1 .lower {
  font-size: 32px;
}

.buttons {
  font-size: 12px;
  text-align: left;
  padding-bottom: 236px;
}
@media screen and (min-width: 480px) {
  .buttons {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 768px) {
  .buttons {
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    padding-bottom: 42px;
  }
}
.buttons .product {
  font-weight: 600;
  padding: 11px 26px;
  border: 2px solid #f8d24e;
  margin-right: 12px;
  border-radius: 8px;
  background: transparent;
  color: #131313;
}
.buttons .product:hover, .buttons .product:focus {
  border: solid 2px #0a8817;
  color: #ffffff;
  outline: none;
}
.buttons .how-made {
  font-weight: 600;
  background: transparent;
  text-decoration: underline;
  color: #f8d24e;
  border: none;
}
.buttons .how-made:hover, .buttons .how-made:focus {
  color: #131313;
  outline: none;
}

.treat-yourself {
  display: none;
}
@media screen and (min-width: 768px) {
  .treat-yourself {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .treat-yourself {
    padding-bottom: 60px;
  }
}

.text-call {
  margin-left: 32px;
  padding-top: 45px;
}
@media screen and (min-width: 1200px) {
  .text-call {
    margin-left: 16px;
  }
}
.text-call p {
  line-height: 150%;
  font-size: 12px;
  width: 165px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .text-call p {
    width: 200px;
    margin-bottom: 32px;
  }
}
.text-call .arrow-header {
  fill: #fcfcfc;
}

.arrow {
  background: transparent;
  padding: 10px 0;
  border: none;
  width: 30px;
}

.arrow-white:hover svg, .arrow-white:focus svg {
  fill: #000000;
}

.dot {
  position: absolute;
  bottom: 0;
  right: 13px;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .dot {
    left: 10px;
  }
}

.cream {
  display: block;
  position: absolute;
  bottom: 0;
  right: 70px;
}
.about-product {
  background: #fcfcfc url("../images/background-mobile.png") repeat;
}
@media screen and (min-width: 480px) {
  .about-product {
    background: #fcfcfc url("../images/bg_mobile.png") repeat;
  }
}
@media screen and (min-width: 768px) {
  .about-product {
    background: #fcfcfc url("../images/bg_tablet.png") repeat;
  }
}
@media screen and (min-width: 1200px) {
  .about-product {
    background: #fcfcfc url("../images/Backgroud_desktop.png") repeat;
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.products h2 {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.26;
  color: #131313;
  margin-bottom: 145px;
}
@media screen and (min-width: 768px) {
  .products h2 {
    margin-bottom: 200px;
  }
}
.products span {
  font-size: 18px;
}
.products h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .products h3 {
    font-size: 30px;
  }
}
.products p {
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .products p {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 66px;
  }
}
.products button {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
@media screen and (min-width: 1200px) {
  .products button {
    margin-bottom: 67px;
  }
}
.products .milkshakes {
  background: #d6936d;
}

.img-choice {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  background: inherit;
  box-shadow: 0 5px 5px;
  border-radius: 50%;
}

.ice-coffee {
  background: #efd478;
}

.ice-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .ice-choice {
    flex-direction: row;
    justify-content: center;
  }
}

.info {
  width: 320px;
  height: 428px;
  padding: 126px 60px 10px;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.info:not(:last-child) {
  margin: 0 0 168px;
}
@media screen and (min-width: 768px) {
  .info {
    width: 224px;
    padding-left: 26px;
    padding-right: 26px;
  }
  .info:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .info {
    width: 370px;
    height: 536px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 165px;
  }
}

.ice-cream {
  background: #aec6a5;
}

.how-make {
  padding-top: 60px;
}
.how-make h2 {
  margin: 0 auto;
  width: 250px;
  font-size: 30px;
  font-family: "Seymour One", sans-serif;
  line-height: 1.25;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .how-make h2 {
    width: 100%;
    font-size: 34px;
    margin-bottom: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .how-make h2 {
    font-size: 36px;
    margin-bottom: 121px;
  }
}
.how-make .under {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
  .how-make .under {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .how-make .under {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .how-make .recipes {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
.how-make .recipes img {
  margin: 0 auto;
  width: 278px;
}
@media screen and (min-width: 768px) {
  .how-make .recipes img {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .how-make .recipes img {
    width: 490px;
  }
}
.how-make button {
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 34px;
  margin-top: 24px;
}
.how-make button:hover {
  background: #0a8817;
}
.how-make button:focus {
  background: #0a8817;
  color: #ffffff;
  outline: none;
}
.how-make button:focus svg {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .how-make button {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .how-make button {
    margin-top: 54px;
  }
}
.how-make p {
  font-size: 12px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .how-make p {
    font-size: 14px;
    line-height: 1.94;
  }
}
.how-make .recip {
  margin-top: 40px;
  width: 220px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .how-make .recip {
    width: 336px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .how-make .recip {
    width: 463px;
  }
}

.arrow-black:hover svg, .arrow-black:focus svg {
  fill: #fcfcfc;
}

.ingredients {
  padding-bottom: 81px;
}
@media screen and (min-width: 768px) {
  .ingredients {
    display: flex;
    justify-content: space-between;
    padding-bottom: 204px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .ingredients {
    padding-bottom: 178px;
  }
}

.ingredient {
  width: 230px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .ingredient {
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .ingredient {
    width: 368px;
  }
}
.ingredient .ingredients-svg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #f8d24e;
  border-radius: 50%;
  margin-bottom: 16px;
}
.ingredient .weight {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-transform: uppercase;
}
.ingredient .ingredients-text {
  line-height: 1.7;
  margin: 16px auto 22px;
}
@media screen and (min-width: 1200px) {
  .ingredient .ingredients-text {
    font-size: 16px;
  }
}

.reviews {
  background: #fcfcfc url("../images/background-mobile.png") repeat;
}
@media screen and (min-width: 480px) {
  .reviews {
    background: #fcfcfc url("../images/bg_mobile.png") repeat;
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    background: #fcfcfc url("../images/bg_tablet.png") repeat;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    background: #fcfcfc url("../images/Backgroud_desktop.png") repeat;
  }
}
.reviews .review {
  margin: 0 auto 50px;
  width: 280px;
  overflow: hidden;
  transform: translateY(-50px);
  padding-bottom: 359px;
}
@media screen and (min-width: 480px) {
  .reviews .review {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .review {
    margin-bottom: 144px;
    width: 704px;
    transform: translateY(-144px);
    padding-bottom: 215px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .review {
    width: 1014px;
    transform: translateY(-99px);
    padding-bottom: 129px;
  }
}
.reviews .reviews-container {
  position: relative;
  display: flex;
  width: 900px;
}
@media screen and (min-width: 480px) {
  .reviews .reviews-container {
    width: 1380px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .reviews-container {
    width: 2172px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .reviews-container {
    width: 3102px;
  }
}
.reviews .review-slide {
  position: relative;
  width: 280px;
  margin-top: 210px;
  margin-right: 30px;
}
@media screen and (min-width: 480px) {
  .reviews .review-slide {
    margin-top: 285px;
    width: 440px;
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .review-slide {
    width: 704px;
    margin-top: 393px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .review-slide {
    width: 1014px;
    margin-top: 563px;
    padding-left: 23px;
    padding-right: 23px;
  }
}
.reviews .bord-review {
  position: absolute;
  width: 280px;
  left: 50%;
  top: -210px;
  transform: translateX(-50%);
}
@media screen and (min-width: 480px) {
  .reviews .bord-review {
    width: 440px;
    top: -285px;
  }
}
@media screen and (min-width: 768px) {
  .reviews .bord-review {
    width: 704px;
    top: -393px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .bord-review {
    width: 1014px;
    top: -563px;
  }
}
.reviews .img-visitors {
  border-radius: 50%;
  margin: 0 auto;
}
.reviews .review-text {
  width: 100%;
  padding: 32px 39px;
  font-size: 12px;
  line-height: 2.55;
  margin: 35px auto;
  background: #84a178;
  border-radius: 10px;
}
.reviews .name-visitors {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  color: #131313;
  margin-bottom: 12px;
}

.slid {
  display: flex;
  justify-content: center;
}
.slid a {
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  border-radius: 50px;
  display: block;
}
.slid a.active {
  background: #84a178;
}
.slid li:not(:last-child) {
  margin-right: 18px;
}

.adreses .name-establishment {
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  background: #f8d24e;
  color: #131313;
  display: inline-block;
  padding: 4px 22px;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 4px;
}
.adreses .buttons-info {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0 60px;
}
@media screen and (min-width: 768px) {
  .adreses .buttons-info {
    flex-direction: row;
    justify-content: center;
    margin: 60px 0 120px;
  }
}
.adreses .button-location {
  padding: 12px 0;
  width: 196px;
  border: none;
  border-radius: 10px;
  margin: 0 0 16px 0;
  background: #f8d24e;
}
.adreses .button-location:hover {
  background: #0a8817;
}
.adreses .button-location:focus {
  background: #0a8817;
  color: #ffffff;
  outline: none;
}
.adreses .button-location:focus svg {
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .adreses .button-location {
    margin: 0 16px 0 0;
  }
}
.adreses .button-franchise {
  padding: 12px 0;
  width: 196px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  background: transparent;
}
.adreses .button-franchise:hover, .adreses .button-franchise:focus {
  border: 2px solid #0a8817;
  color: #ffffff;
  outline: none;
}
.adreses .button-franchise:focus svg, .adreses .button-franchise:hover svg {
  fill: #ffffff;
}

.go {
  vertical-align: middle;
}

.adres {
  margin: -399px auto 0;
}
@media screen and (min-width: 768px) {
  .adres {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: -443px auto 0;
  }
}
@media screen and (min-width: 1200px) {
  .adres {
    margin: -261px auto 0;
  }
}
.adres li {
  width: 280px;
  height: auto;
  background: #fcfcfc;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  padding: 40px 32px 24px;
  text-align: left;
  margin: 0 auto;
}
.adres li:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .adres li {
    width: 224px;
    height: auto;
  }
  .adres li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .adres li {
    width: 368px;
    height: auto;
  }
  .adres li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.adres .establishment {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}
.adres .establishment:not(:last-child) {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
.adres .name-town {
  color: #131313;
  padding-bottom: 8px;
}
.adres .location-establishment {
  color: #d6936d;
}
.adres .time-work {
  color: #131313;
}
.adres .time-work span {
  color: #907e82;
}
.adres .time-work:not(:last-child) {
  padding-bottom: 8px;
}
.adres .contact-establishment {
  color: #131313;
}

@media screen and (min-width: 768px) {
  .contact-social {
    display: flex;
    justify-content: space-between;
  }
}

.contacts {
  padding: 0 24px 40px;
  border-bottom: 1px solid #e1e1e1;
}
.contacts .brand {
  text-align: left;
  width: 50%;
}
.contacts .the-made {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts .the-made {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .the-made {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
  }
}
.contacts .the-passion {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .contacts .the-passion {
    font-size: 48px;
    line-height: 1.22;
    font-weight: 700;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .the-passion {
    font-size: 58px;
    line-height: 1.42;
    font-weight: 700;
  }
}
.contacts .social {
  display: flex;
  justify-content: flex-end;
  margin: 60px 0 20px;
}
.contacts span {
  color: #131313;
}
.contacts .tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .contacts .tel {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .tel {
    font-size: 16px;
  }
}

.social-list:not(:last-child) {
  margin-right: 24px;
}
.social-list a {
  width: 35px;
  height: 35px;
  background: #f8d24e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list a:hover, .social-list a:focus {
  background: #0a8817;
  outline: none;
}
.social-list a:hover svg, .social-list a:focus svg {
  fill: #ffffff;
}

.ps {
  color: #7a7a7a;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .ps {
    display: flex;
    justify-content: center;
  }
}

.info-modal {
  position: relative;
  margin-top: 82px;
  padding-bottom: 20px;
  padding-top: 95px;
  width: 132px;
}

.info-modal {
  border-radius: 15px;
}
@media screen and (min-width: 768px) {
  .info-modal:not(:last-child) {
    margin-right: 32px;
  }
}

.buy-cream {
  border: solid 2px #96af8c;
}

.buy-coffee {
  background: #efd478;
  border: 2px solid #efd478;
}

.buy-milkshake {
  border: 2px solid #d6936d;
}

.backdrop {
  position: fixed;
  z-index: 5;
  justify-content: center;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #131313;
  letter-spacing: 0.04px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  opacity: 0;
  transition: opacity 0.5s linear;
  overflow-y: auto;
  pointer-events: none;
}
.backdrop.is-open {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 250ms linear;
}

.modal-button {
  position: absolute;
  background: transparent;
  top: 16px;
  right: 16px;
}

.modal {
  position: relative;
  border: 10px;
  padding: 28px 20px;
  margin: 0 auto;
  width: 80%;
  background: #fcfcfc;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 800px;
  }
}

h5 {
  font-family: "Seymour One", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #131313;
}

.how-made p {
  font-size: 14px;
  line-height: 140%;
  color: #131313;
}

iframe {
  width: auto;
  margin: 20px auto;
}
@media screen and (min-width: 768px) {
  iframe {
    margin: 32px auto;
  }
}

.calories {
  display: flex;
  justify-content: center;
  margin: 32px 0 48px;
}

.chocolate-icecream {
  margin: 20px auto 30px;
  border-bottom: solid 7px rgba(156, 190, 143, 0.7);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .recipe-ice {
    width: 600px;
    margin: 0 auto;
  }
}

.calories-ice {
  border: 2px solid #9cbe8f;
  width: 53px;
  height: 72px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 10px;
  line-height: 2.8;
  padding-bottom: 4px;
}
.calories-ice:not(:last-child) {
  margin-right: 9px;
}
@media screen and (min-width: 768px) {
  .calories-ice:not(:last-child) {
    margin-right: 20px;
  }
}
.calories-ice p {
  background: #9cbe8f;
  margin: 0 auto;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  width: 43px;
  height: 43px;
}

.ingredient-modal {
  display: flex;
  justify-content: space-between;
}
.ingredient-modal:not(:last-child) {
  margin-bottom: 11px;
}

h6 {
  margin: 40px 0 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 40px auto 0;
}
form input {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #84a178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  padding: 11px;
}
form input[placeholder] {
  font-size: 14px;
  line-height: 140%;
}
@media screen and (min-width: 768px) {
  form input {
    width: 600px;
  }
}
form textarea {
  width: 100%;
  border: 1px solid #84a178;
  border-radius: 10px;
  background: rgba(248, 210, 78, 0.1);
  padding: 11px;
  resize: vertical;
}
form textarea[placeholder] {
  font-size: 14px;
  line-height: 140%;
}
@media screen and (min-width: 768px) {
  form textarea {
    width: 600px;
  }
}

button[type=submit] {
  background: #f8d24e;
  margin: 0 auto;
  width: 132px;
  border-radius: 10px;
  border: none;
  margin-top: 24px;
  padding: 12px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
}
button[type=submit]:hover {
  background: #0a8817;
}
button[type=submit]:focus {
  background: #0a8817;
  color: #ffffff;
}

.modal-button:hover svg,
.modal-button:focus svg {
  fill: #84a178;
}

.map {
  display: flex;
  justify-content: center;
  margin: 32px auto;
  width: 200px;
  background: #84a178;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .map {
    width: 300px;
  }
}

.link-map {
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 34px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}
.link-map:hover {
  background: #0a8817;
}
.link-map:focus {
  background: #0a8817;
  color: #ffffff;
}

.thank-you p {
  font-size: 14px;
  line-height: 140%;
  text-align: left;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .thank-you p {
    font-size: 16px;
    line-height: 140%;
    width: 600px;
  }
}

/*# sourceMappingURL=style.css.map */
