@import '~node_modules/modern-normalize/modern-normalize.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  background-color: #84a178;
  color: #fcfcfc;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  font-size: 0;
  position: relative;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  text-align: left;
}
header .header {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  header .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}
header nav,
header .nav {
  display: flex;
  justify-content: space-between;
}
header .logo {
  z-index: 3;
}
header .buy-table {
  font-size: 14px;
  width: 152px;
  padding: 12px 0;
  margin: 0 0 8px 36px;
  font-weight: 600;
  line-height: 1.4;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: #131313;
  display: none;
}
header .buy-table:active {
  background: #0a8817;
}
header .buy-table svg {
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  header .buy-table {
    display: block;
  }
}
header .mobile-menu {
  display: none;
}
header .mobile-menu.is-open {
  display: flex;
  text-align: center;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 100px;
  padding-bottom: 76px;
  width: 100%;
  height: 100%;
  background: #84a178;
}
header .close {
  display: none;
}
header .open {
  display: block;
}

.list-menu li:not(:last-child) {
  padding-bottom: 32px;
}
.list-menu a {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #fcfcfc;
}
.list-menu a:hover {
  color: #000000;
}

.desktop-menu {
  display: none;
  margin-right: 205px;
}
@media screen and (min-width: 1200px) {
  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop-menu li:not(:last-child) {
    margin-right: 28px;
  }
  .desktop-menu a {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #fcfcfc;
  }
  .desktop-menu a:hover, .desktop-menu a:focus {
    color: #d6936d;
  }
}

.modal-menu {
  z-index: 3;
  background: transparent;
  border: none;
  display: block;
}
@media screen and (min-width: 1200px) {
  .modal-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .modal-menu.is-open {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.modal-menu.is-open .close {
  display: block;
}
.modal-menu.is-open .open {
  display: none;
}

.buy {
  padding: 12px 0;
  width: 152px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: #131313;
}
.buy:active {
  background: #0a8817;
}
@media screen and (min-width: 768px) {
  .buy {
    display: none;
  }
}
.buy svg {
  margin-left: 8px;
}

.base {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .quantity {
    display: none;
  }
}
.quantity div {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-top: 20px;
  text-align: right;
}
.quantity p {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #fcfcfc;
}

h1 {
  font-family: "Seymour One", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
  margin-top: 45px;
  margin-bottom: 32px;
}
h1 .lower {
  font-size: 32px;
}

.buttons {
  font-size: 12px;
  text-align: left;
  padding-bottom: 236px;
}
@media screen and (min-width: 480px) {
  .buttons {
    padding-bottom: 150px;
  }
}
@media screen and (min-width: 768px) {
  .buttons {
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    padding-bottom: 42px;
  }
}
.buttons .product {
  font-weight: 600;
  padding: 11px 26px;
  border: 2px solid #f8d24e;
  margin-right: 12px;
  border-radius: 8px;
  background: transparent;
  color: #131313;
}
.buttons .how-made {
  font-weight: 600;
  background: transparent;
  text-decoration: underline;
  color: #f8d24e;
  border: none;
}

.treat-yourself {
  display: none;
}
@media screen and (min-width: 768px) {
  .treat-yourself {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .treat-yourself {
    padding-bottom: 60px;
  }
}

.text-call {
  margin-left: 32px;
  padding-top: 45px;
}
@media screen and (min-width: 1200px) {
  .text-call {
    margin-left: 16px;
  }
}
.text-call p {
  line-height: 150%;
  font-size: 12px;
  width: 165px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 0.01em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .text-call p {
    width: 200px;
    margin-bottom: 32px;
  }
}
.text-call .arrow {
  background: transparent;
  padding: 5px 0;
  border: none;
}

.dot {
  position: absolute;
  bottom: 0;
  right: 13px;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .dot {
    left: 10px;
  }
}

.cream {
  display: block;
  position: absolute;
  bottom: 0;
  right: 70px;
}
.about-product {
  background: #fcfcfc url("../images/background-mobile.png") repeat;
}
@media screen and (min-width: 480px) {
  .about-product {
    background: #fcfcfc url("../images/bg_mobile.png") repeat;
  }
}
@media screen and (min-width: 768px) {
  .about-product {
    background: #fcfcfc url("../images/bg_tablet.png") repeat;
  }
}
@media screen and (min-width: 1200px) {
  .about-product {
    background: #fcfcfc url("../images/Backgroud_desktop.png") repeat;
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.products h2 {
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.26;
  color: #131313;
  margin-bottom: 145px;
}
@media screen and (min-width: 768px) {
  .products h2 {
    margin-bottom: 200px;
  }
}
.products span {
  font-size: 18px;
}
.products h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #131313;
}
@media screen and (min-width: 1200px) {
  .products h3 {
    font-size: 30px;
  }
}
.products p {
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
  margin-top: 40px;
}
@media screen and (min-width: 1200px) {
  .products p {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 66px;
  }
}
.products button {
  background: transparent;
  margin-bottom: 20px;
  margin-top: auto;
}
@media screen and (min-width: 1200px) {
  .products button {
    margin-bottom: 67px;
  }
}
.products .ice-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .products .ice-choice {
    flex-direction: row;
    justify-content: center;
  }
}
.products .info {
  width: 320px;
  height: 428px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 126px;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.products .info:not(:last-child) {
  margin: 0 0 168px;
}
@media screen and (min-width: 768px) {
  .products .info {
    width: 224px;
    padding-left: 26px;
    padding-right: 26px;
  }
  .products .info:not(:last-child) {
    margin: 0 16px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .products .info {
    width: 370px;
    height: 536px;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 165px;
  }
}
.products .ice-cream {
  background: #aec6a5;
}
.products .ice-coffee {
  background: #efd478;
}
.products .milkshakes {
  background: #d6936d;
}
.products .img-choice {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  background: inherit;
  box-shadow: 0 5px 5px;
  border-radius: 50%;
}

.how-make {
  padding-top: 60px;
  padding-bottom: 81px;
}
@media screen and (min-width: 7688px) {
  .how-make {
    padding-left: 34px;
    padding-right: 34px;
  }
}
.how-make h2 {
  font-size: 30px;
  font-family: "Seymour One", sans-serif;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 0.06em;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .how-make h2 {
    font-size: 34px;
    margin-bottom: 98px;
  }
}
@media screen and (min-width: 1200px) {
  .how-make h2 {
    font-size: 36px;
    margin-bottom: 121px;
  }
}
.how-make .under {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 768px) {
  .how-make .under {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) {
  .how-make .under {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .how-make .recipes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.how-make .recipes img {
  width: 278px;
}
@media screen and (min-width: 768px) {
  .how-make .recipes img {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .how-make .recipes img {
    width: 490px;
  }
}
.how-make button {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 34px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .how-make button {
    margin-top: 32p;
  }
}
@media screen and (min-width: 1200px) {
  .how-make button {
    margin-top: 54px;
  }
}
.how-make p {
  font-size: 12px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .how-make p {
    font-size: 14px;
    line-height: 1.94;
  }
}
.how-make .recip {
  margin-top: 40px;
  width: 220px;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .how-make .recip {
    width: 334px;
    text-align: left;
  }
}

.ingredients .ingredients-svg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #f8d24e;
  border-radius: 50%;
  margin-bottom: 16px;
}
.ingredients span {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-transform: uppercase;
}
.ingredients .ingredients-text {
  font-size: 12px;
  line-height: 1.7;
  width: 230px;
  margin: 16px auto 22px;
}

/*# sourceMappingURL=style.css.map */
